/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-file-upload {
	margin: 0;

	&:hover {
		background-color: #007cba;
		color: #fff;
		font-weight: 500;
	}
	
	p {
		margin: 0;
		margin-bottom: 15px;
	}
}
